.animable {
    position: absolute;
    display: grid;
    width: 100%;
    top: 50%;
}

.animate-in {
    animation: big-label-in forwards 1s cubic-bezier(0.5, 0, 0, 1.25);
}

.animate-out {
    animation: big-label-out forwards 1s cubic-bezier(0.5, 0, 0, 1.25);
}

@keyframes big-label-in {
    0% {
        transform: translateY(-100vh);
        filter: opacity(0) blur(10vh);
    }

    100% {
        transform: translateY(0vh);
        filter: opacity(1) blur(0);
    }
}

@keyframes big-label-out {
    0% {
        transform: translateY(0vh);
        filter: opacity(1) blur(0vh);
    }

    100% {
        transform: translateY(-100vh);
        filter: opacity(0) blur(10vh);
    }
}