.pixel {
    @media (orientation: landscape), (max-aspect-ratio: 1/1) {
        min-width: 3vh;
        min-height: 3vh;
    }

    @media (orientation: portrait) {
        min-width: 2vh;
        min-height: 2vh;
    }
    display: grid;
    font-size: 1vh;
    align-content: center;
    display: grid;
    grid-template: 1fr / 1fr;
    place-items: center;
    // transform-style: preserve-3d;

    &.p0 {
        background-color: transparent;
    }

    &.p1 {
        background-color: transparent;
    }

    &.p2 {
        animation: pixels-out-1 forwards 1s cubic-bezier(0, .75, .5, 1);
    }

    .perk {
        grid-column: 1 / 1;
        grid-row: 1 / 1;
        width: 100%;
        height: 100%;
        background-size: 100%;
        mix-blend-mode: hard-light;
        animation: perk-in forwards 1s cubic-bezier(0, .75, .5, 1);

        &.perk-timeout {
            --angle: 0deg;
            background: conic-gradient(from var(--angle), transparent 50%, #efefefef 100%);
            animation: rotate-conic-angle forwards 1s linear;
        }

        &.perk-paused {
            animation-play-state: paused;
        }

        &.point-multiplier {
            background-image: url('/src/assets/multiply.svg');
            background-color: #0000004f;
        }

        &.remove-row-above {
            background-image: url('/src/assets/above.svg');
            background-color: #0000004f;
        }

        &.remove-row-below {
            background-image: url('/src/assets/below.svg');
            background-color: #0000004f;
        }

        &.remove-even-rows {
            background-image: url('/src/assets/even.svg');
            background-color: #0000004f;
        }

        &.clear-board {
            background-image: url('/src/assets/clear.svg');
            background-color: #0000004f;
        }

        &.perk-overlay {
            &:before {
                content: "";
                display: inline-block;
                height: 100%;
                vertical-align: middle;
            }
            
            @media (orientation: landscape), (max-aspect-ratio: 1/1) {
                font-size: 1.75vh;
            }
        
            @media (orientation: portrait) {
                font-size: 1vh;
            }

            mix-blend-mode: hard-light;
            text-shadow: 0.15vh 0.15vh 0.15vh black;
        }
    }
}

@keyframes rotate-conic-angle {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

@keyframes points-out {
    0% {
        transform: translateY(0) scale(0);
        filter: opacity(1);
    }

    80% {
        transform: translateY(-5vh) scale(2.5);
        filter: opacity(1);
    }

    100% {
        transform: translateY(-5vh) scale(1);
        filter: opacity(0);
    }
}

@keyframes pixels-out-1 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0) sepia(0);
    }

    100% {
        transform: scale(4) translateX(3vw);
        filter: opacity(0) blur(1vh) sepia(1);
    }
}

@keyframes pixels-out-2 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(1) sepia(0);
    }

    100% {
        transform: scale(4) translateX(-3vw);
        filter: opacity(0) blur(1vh) sepia(1);
    }
}

@keyframes perk-in {
    0% {
        transform: scale(4) translateX(2vw);
        filter: opacity(0) blur(2vh);
    }

    100% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0);
    }
}
