.pixel {
    display: grid;
    min-width: 3vh;
    min-height: 3vh;
    font-size: 1vh;
    align-content: center;

    &.p0 {
        background-color: transparent;
    }

    &.p1 {
        background-color: transparent;
    }

    &.p2 {
        background-color: rgb(131, 18, 74);
        animation: pixels-out-1 forwards 1s cubic-bezier(0, .75, .5, 1);
    }
}

@keyframes points-out {
    0% {
        transform: translateY(0) scale(0);
        filter: opacity(1);
    }

    80% {
        transform: translateY(-5vh) scale(2.5);
        filter: opacity(1);
    }

    100% {
        transform: translateY(-5vh) scale(1);
        filter: opacity(0);
    }
}

@keyframes pixels-out-1 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0);
    }

    100% {
        transform: scale(4) translateX(2vw);
        filter: opacity(0) blur(2vh);
    }
}

@keyframes pixels-out-2 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0);
    }

    100% {
        transform: scale(4) translateX(-2vw);
        filter: opacity(0) blur(2vh);
    }
}