.App {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    @media (orientation: landscape) {
        font-size: 2em;

        select {
            font-size: 3vh;
        }
    }

    @media (orientation: portrait) {
        font-size: 1vh;

        select {
            font-size: 1vh;
        }
    }

    background-color: #282c34;
    border-bottom: 1px solid lightblue;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: flex-start;
    color: white;
    padding: 1vw;
    height: 1vh;
    column-gap: 1vw;
    align-items: center;
}

.footer {
    @media (orientation: landscape), (max-aspect-ratio: 1/1) {
        font-size: 1em;
    }

    @media (orientation: portrait) {
        font-size: 1vh;
    }

    border-top: 1px solid lightblue;
    background-color: #282c34;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: flex-start;
    color: white;
    padding: 1vw;
    height: 1vh;

    a {
        color: yellow;
    }
}

.content {
    @media (orientation: landscape)  {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @media (orientation: portrait) {
        grid-template-rows: 1fr 1fr 1fr;
    }

    margin: 0;
    background-color: #282c54;
    width: 100vw;
    height: 100%;
    display: grid;
    font-size: calc(2vmin);
    color: white;
    overflow: hidden;
    perspective: 100vh;
    // background: linear-gradient(45deg, #421c03, #0a434b, #250f75, #79071a);
    // background-size: 600% 600%;
    // animation: gradient 30s ease infinite;
}

.nextTile {
    display: grid;
    grid-gap: 0vw;
    grid-auto-rows: 1fr;
    margin: auto;
    width: fit-content;
}

.tetris {
    display: grid;
    grid-gap: 0vw;
    grid-auto-rows: 1fr;
    margin: auto;
    width: fit-content;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.help {
    @media (orientation: landscape) {
        font-size: 3vh;
    }

    @media (orientation: portrait) {
        display: none;
    }
}

.info {
    @media (orientation: landscape) {
        font-size: 3vh;
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content 0.5fr min-content 1fr;
        button {
            margin-top: 1em;
            font-size: 3vh;
        }
    }

    @media (orientation: portrait) {
        font-size: 1.5vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: min-content min-content min-content 0.5fr min-content 1fr;
        button {
            margin-top: 0.5em;
            font-size: 1.5vh;
        }
    }

    display: grid;
    gap: 0px 0px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.smallText {
    font-size: 0.5em;
}

.controlKey {
    cursor: pointer;
    border-bottom: 1px solid rgb(26, 68, 82);
}

.score {
    display: grid;
    position: absolute;
    width: 100%;
    font-size: 25vh;
    align-self: center;
    align-content: center;
    color: #ffffff;
    text-shadow: 6px 6px 8px rgb(0 0 0);
    // animation: big-label-in forwards 0.75s cubic-bezier(0.5, 0, 0, 1.25);
    animation: big-label-in forwards 0.75s linear;
    transform-style: preserve-3d;

    @keyframes big-label-in {
        0% {
            transform: translateZ(-2000vh);
            filter: opacity(0);
        }

        50% {
            transform: translateZ(-250vh);
            filter: opacity(0.9);
        }

        100% {
            transform: translateZ(150vh);
            filter: opacity(0);
        }
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}