.App {
    text-align: center;
    height: 100vh;
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header {
    background-color: #282c34;
    border-bottom: 1px solid lightblue;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: flex-start;
    font-size: 2em;
    color: white;
    padding: 1vw;
    height: 1vh;
    column-gap: 1vw;
    align-items: center;

    select {
        font-size: 3vh;
    }
}

.footer {
    border-top: 1px solid lightblue;
    background-color: #282c34;
    display: grid;
    grid-auto-flow: column;
    align-content: center;
    justify-content: flex-start;
    font-size: 1em;
    color: white;
    padding: 1vw;
    height: 1vh;

    a {
        color: yellow;
    }
}

.content {
    margin: 0;
    background-color: #282c54;
    width: 100vw;
    height: 100%;
    display: grid;
    font-size: calc(2vmin);
    color: white;
    overflow: hidden;
    grid-template-columns: 1fr 1fr 1fr;
    // background: linear-gradient(45deg, #421c03, #0a434b, #250f75, #79071a);
    // background-size: 600% 600%;
    // animation: gradient 30s ease infinite;
}

.nextTile {
    display: grid;
    grid-gap: 0vw;
    grid-auto-rows: 1fr;
    margin: auto;
    width: fit-content;
}

.tetris {
    display: grid;
    grid-gap: 0vw;
    grid-auto-rows: 1fr;
    margin: auto;
    width: fit-content;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.help,
.info {
    font-size: 3vh;

    button {
        margin-top: 1em;
        font-size: 3vh;
    }
}

.smallText {
    font-size: 0.5em;
}

.controlKey {
    cursor: pointer;
    border-bottom: 1px solid rgb(26, 68, 82);
}

.pixel {
    display: grid;
    min-width: 3vh;
    min-height: 3vh;
    font-size: 1vh;
    align-content: center;

    &.p0 {
        background-color: transparent;
    }

    &.p1 {
        background-color: transparent;
        // background: linear-gradient(45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 40%, rgba(255,255,255,1) 50%, rgba(0,0,0,0) 60%, rgba(0,0,0,0) 100%);
        // background-size: 200% 200%;
        // animation: gradient 1s ease-in-out infinite;
    }

    &.p2 {
        background-color: rgb(131, 18, 74);
        animation: pixels-out-1 forwards 1s cubic-bezier(0, .75, .5, 1);
    }

    // &.animate-down {
    //     animation: pixels-move forwards 1s linear;
    // }
}

// @keyframes pixels-move {
//     0% {
//         transform: translateY(0);
//     }

//     100% {
//         transform: translateY(3vh);
//     }
// }

@keyframes pixels-out-1 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0);
    }

    100% {
        transform: scale(4) translateX(2vw);
        filter: opacity(0) blur(2vh);
    }
}

@keyframes pixels-out-2 {
    0% {
        transform: scale(1) rotatex(0);
        filter: opacity(1) blur(0);
    }

    100% {
        transform: scale(4) translateX(-2vw);
        filter: opacity(0) blur(2vh);
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}